<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multi Disease Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="overlay">
        <div class="container">
            <h1>Welcome to the Disease Prediction App</h1>
            <ul>
                <li><a href="/diabetes">Diabetes Prediction</a></li>
                <li><a href="/heart_disease">Heart Disease Prediction</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
